body {
    /*background: url('../img/background1.jpg') no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 788px;
    margin:0;
    background:url('/img/sunset.jpg') top left / 150% 100% no-repeat;
    animation:animback 10s infinite;
  }
  
@keyframes animback
{
    33% {background:url('/img/sunset.jpg') top left / 100% 100% no-repeat;}
    66% {background:url('/img/mien.jpg') top left / 100% 100% no-repeat;}
    
}